

.homeBlock{
    background-image: url("assets/images/FOND3.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.universBlock{
    background-image: url("assets/images/UNIVERS FOND.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.otherBlock{
    background-color: #090807;
    color: white;
    background-size: cover;
    width: 100vw;
    height: 150vh;
}

.blankBlock{
    background-color: #090807;
    color: white;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.precoBlock{
    position: relative;
    background-image: url("assets/images/preco-before.png");
    background-size: cover;
    width: 25vw;
    height: 60vh;
    top: 30vh;
    left: 73vw;
   
    cursor: pointer;
}
/*
.precoBlock:hover{
    background-image: url("assets/images/preco2.png");
}
*/
.testBottom{
    position: absolute;
    bottom: 10vh;
    font-size: 30pt;
}

.letters{
    width : 65%;
    height: 80%;
    margin-top:5%;
}
.bookBack{
    color : #b80444;
    background-image: url("assets/images/UNIVERS FOND 4 DE COUV.png");
    background-size: cover;
    width : 20%;
    height: fit-content;
    margin-top:2.5%;
    margin-left:5%;
    padding: 10px 40px 40px 40px;
    font-size: 1.6vh;
    line-height: 2.2vh;
    background-position: left top;
    border-radius: 30px;
    background-repeat: no-repeat;
    text-align: justify;
}

.bookBack img{
  height: 10vh;;
}

.clear{
    clear: both;
}

.fade-in-out {
  opacity: 0;
  animation: fade-in 0s linear forwards, fade-out 0s linear forwards;
  //font-family: "HelveticaBlk";
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fade-out {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.menu{
  position: fixed;
  height: 75vh;
  top:25vh;
  left: 2.5vw;
  z-index: 10000000000;
}

.mainMenu{
  border-left: 2px dotted #c5fe01;
  padding-left: 10px;
  padding-bottom: 2vh;
  margin-bottom: 1vh;
}

.couvButton{
  cursor: pointer;
  background-image: url("assets/images/menu 4decouv.png");
  width: 9vw;
  height: 9vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 2vh;
}

.couvButtonSelected{
  cursor: pointer;
  background-image: url("assets/images/menu 4decouv2.png");
  width: 9vw;
  height: 9vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 2vh;
}

.couvButton:hover{
  background-image: url("assets/images/menu 4decouv2.png");
}

.extraitButton{
  cursor: pointer;
  background-image: url("assets/images/menu extrait.png");
  width: 9vw;
  height: 9vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 2vh;
}

.extraitButtonSelected{
  cursor: pointer;
  background-image: url("assets/images/menu extrait2.png");
  width: 9vw;
  height: 9vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 2vh;
}

.extraitButton:hover{
   background-image: url("assets/images/menu extrait2.png");
}

.auteurButton{
  cursor: pointer;
  background-image: url("assets/images/menu auteur.png");
  width: 9vw;
  height: 9vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 2vh;
}

.auteurButton:hover{
  background-image: url("assets/images/menu auteur2.png");
}

.librairieButton{
  cursor: pointer;
  background-image: url("assets/images/menu librairie.png");
  width: 9vw;
  height: 9vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 2vh;
}

.librairieButton:hover{
  background-image: url("assets/images/menu librairie2.png");
}

.librairieButtonSelected{
  cursor: pointer;
  background-image: url("assets/images/menu librairie2.png");
  width: 9vw;
  height: 9vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 2vh;
}

.betweenMenus{
height: 2vh;
  width: 2vw;
  background-image: url(http://localhost:3004/f604c663b210e31d499f.png);
  background-size: contain;
  background-repeat: no-repeat;
  left: -0.3vw;
  position: relative;
}

.extraMenu{
  border-left: 5px dotted #c80931;
  padding-left: 10px;
  padding-top: 4vh;
  margin-top: 1vh;
}

.mailButton{
  cursor: pointer;
  background-image: url("assets/images/mail.png");
  width: 4vw;
  height: 4vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 2vh;
}

.mailButton:hover{
  background-image: url("assets/images/mail2.png");
}

.youtubeButton{
  cursor: pointer;
  background-image: url("assets/images/youtube.png");
  width: 4vw;
  height: 4vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 2vh;
}

.youtubeButton:hover{
  background-image: url("assets/images/youtube2.png");
}

.tiktokButton{
  cursor: pointer;
  background-image: url("assets/images/tiktok.png");
  width: 4vw;
  height: 4vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 2vh;
}

.tiktokButton:hover{
  background-image: url("assets/images/tiktok2.png");
}

.instaButton{
  cursor: pointer;
  background-image: url("assets/images/insta.png");
  width: 4vw;
  height: 4vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 2vh;
}

.instaButton:hover{
  background-image: url("assets/images/insta2.png");
}

.extraitBlock{
    background-color: #18160d;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
   
}

.extraitLeft{
  margin-left: 16vw;
  width: 40vw;
  height: 95vh;
}

.extraitRight{
  margin-left: 2vw;
  width: 40vw;
  height: 95vh;
}

#extrait1L{
   background-image: url("assets/images/extraits/page1.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   background-position-y: center;
   width: 100%;
   height: 100%;
}

#extrait1R{
  background-image: url("assets/images/extraits/page2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  width: 100%;
  height: 100%;
}

#extrait2L{
   background-image: url("assets/images/extraits/page3.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   background-position-y: center;
   width: 100%;
   height: 100%;
}

#extrait2R{
  background-image: url("assets/images/extraits/page4.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  width: 100%;
  height: 100%;
}

#extrait3L{
   background-image: url("assets/images/extraits/page5.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   background-position-y: center;
   width: 100%;
   height: 100%;
}

#extrait3R{
  background-image: url("assets/images/extraits/page6.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  width: 100%;
  height: 100%;
}

#extrait4L{
   background-image: url("assets/images/extraits/page7.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   background-position-y: center;
   width: 100%;
   height: 100%;
}

#extrait4R{
  background-image: url("assets/images/extraits/page8.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  width: 100%;
  height: 100%;
}

.librairieBlock{
  background-color: black;
  width: 100vw;
  height: 100vh;
}

#librairieHead{
  width: 100%;
  height: 35%;
  background-image: url("assets/images/librairie/head.jpg");
  background-size: cover;
  display: flex;
}

#signature{


  
}

#sigPicture{
  width: 100%;
  height: 100%;
  background-image: url("assets/images/librairie/auteur-signature.jpg");
  background-size: auto 100%;
}

#author{
  width: 80%;
  height: 100%;
  padding: 0;
  display: flex;
}

#authorPhoto{
  height: 100%;
  width: 10%;
  margin: 0;
  padding: 0;
}

#authorBackground{
  width: 65%;
  height: 80%;
  background-color: #c80931;
  margin: 0;
  padding: 0;
  float: left;
  z-index: 0;
  position: relative;
  float: left;
}


#authorPicture{
  width: 100%;
  height: 90%;
  background-image: url("assets/images/librairie/auteur-photo.jpg");
  background-size: cover;
  margin-top: 20px;
  margin-left: 20px;
  padding: 0;
  z-index: 100;
  position: relative;
}

#authorName{
height: 90%;
  margin-top: 10px;
  margin-left: 30px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  background-image: url("assets/images/librairie/auteur-nom-et-pointilles.png");
  background-size: auto 100%;
  width: 9%;
  background-repeat: no-repeat;
}

#authorText{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 2.5vh;
}

#librairieBody{
  width: 100%;
  height: 65%;
  background-image: url("assets/images/librairie/body.png");
  background-size: cover;
  display: flex;
}

.librairieLivres{
 // border-left: 2px dotted #c5fe01;
  margin-top: 5px;
  display: flex;
  padding-top: 10px;
}

.librairieItem{
  display: flex;
  flex-direction: column;
  height: 60%;

  //padding: 5px;
  color: white;
  gap: 5px;
  align-items: center;
}

.itemSeparator{
border-bottom: 1.5px dotted #c5fe01;
width: 30%;
}

.tome1{
height: 65%;
  width: 100%;
  margin-left: 5%;
  background-image: url("assets/images/librairie/librairie tome 1 mini couv.jpg");
  background-size: cover;
  background-repeat: no-repeat;
    background-position: bottom;
    cursor: pointer;
    transition: .5s;
  transform: scale(1);
}

.tome1:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.tome1:hover{
   box-shadow: 0 0 10px #ffee10;
   text-shadow: 0 0 10px #ffee10;
}

#librairieBackground{
  height: 100%;
  width: 100%;
  display: flex;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url("assets/images/librairie/bandeau-bas.png");
}

.preco{
  cursor: pointer;
}

.precoBig{
  float: left;
  bottom: 0;
  right: 11vh;
  position: absolute;
  font-size: 9vh;
  color: #c5fe01;
  z-index: 9999999;
  font-family: 'HelveticaBlk';
  padding: 0;
  margin: 0;
}

.precoArrow{
  float: left;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 9999999;
  background-repeat: no-repeat;
  background-image: url("assets/images/librairie/arrow-right-hover.png");
  height: 9vh;
  width: 9vh;
  padding: 0;
  margin: 0;
  background-size: cover;
}

.precoArrowHover{
  float: left;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 9999999;
  background-repeat: no-repeat;
  background-image: url("assets/images/librairie/arrow-right.png");
  height: 9vh;
  width: 9vh;
  padding: 0;
  margin: 0;
  background-size: cover;
}